.search-container {
    background: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 10px;
}

select,
input,
.btn {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

select {
    cursor: pointer;
}

input {
    flex: 1;
    min-width: 200px;
}

.btn {
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.search-btn {
    background: #3b99be;
    color: white;
}

.search-btn:hover {
    background: #23365e;
}

.add-book-btn {
    background: #3b99be;
    color: white;
}

.add-book-btn:hover {
    background: #218838;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 250px;
    text-align: center;
}

.card img {
    margin: 10px;
    height: 150px;
    border-radius: 50%;
}

.card-content {
    padding: 15px;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
}

.edit-btn {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.edit-btn:hover {
    background: #0056b3;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


/* Contenedor del formulario */
.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

/* Campos del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    text-align: left;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Botones */
.submit-btn,
.close-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn {
    background: #3b99be;
    color: white;
}

.submit-btn:hover {
    background: #23365e;
}

.close-btn {
    background: #a71010;
    color: white;
}

.close-btn:hover,
.delete-btn:hover {
    background: #c82333;
}