<body>
    <nav>
        <h1>Digital Library</h1>
        <ul class="nav-links">
            <li><a [routerLink]="['/catalogo']" routerLinkActive="active-link">Catalogo</a></li>
            <li><a [routerLink]="['/usuario']" routerLinkActive="router-link-active">Usuarios</a></li>
        </ul>

        <a href="">cerrar sesion</a>
    </nav>

    <div class="search-container">
        <input type="text" id="search-bar" placeholder="Buscar...">
        <button class="btn search-btn">Buscar</button>
        <button class="btn add-book-btn" (click)="showUserForm=true">Agregar Usuario</button>
    </div>

    <div class="card-container">
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Usuario">
            <div class="card-content">
                <p><strong>ID:</strong> 12345</p>
                <p><strong>Nombre de Usuario:</strong> johndoe</p>
                <p><strong>Tipo:</strong> Administrador</p>
                <button class="edit-btn" (click)="showUserForm=true">Editar</button>
            </div>
        </div>

        @if (showUserForm) {
        <div class="overlay" id="overlay">
            <div class="form-container">
                <h2>Agregar Usuario</h2>
                <form>
                    <label for="nombre">Nombre de Usuario:</label>
                    <input type="text" id="nombre" placeholder="Ingrese nombre de usuario">

                    <label for="password">Password:</label>
                    <input type="password" id="password" placeholder="Ingrese contraseña">

                    <label for="tipo">Tipo:</label>
                    <select id="tipo">
                        <option value="admin">Administrador</option>
                        <option value="usuario">Usuario</option>
                    </select>

                    <button type="submit" class="submit-btn">Guardar</button>
                    <button type="button" class="close-btn" (click)="showUserForm=false">Cancelar</button>
                </form>
            </div>
        </div>
        }

    </div>
</body>