<body>
    <nav>
        <h1>Digital Library</h1>
        <ul class="nav-links">
            <li><a [routerLink]="['/catalogo']" routerLinkActive="active-link">Catalogo</a></li>
            <li><a [routerLink]="['/usuario']" routerLinkActive="active-link">Usuarios</a></li>
        </ul>

        <a href="">cerrar sesion</a>
    </nav>
    <div class="search-container">
        <select id="search-type" [(ngModel)]="selectedOption">
            <option value="libro">Libro</option>
            <option value="autor">Autor</option>
        </select>
        <input type="text" id="search-bar" placeholder="Buscar...">
        <button class="btn search-btn">Buscar</button>
        @if (selectedOption==='libro') {
        <button class="btn add-book-btn" (click)="showBookForm=true">Agregar Libro</button>
        }@else {
        <button class="btn add-author-btn" (click)="showAuthorForm=true">Agregar Autor</button>
        }
    </div>

    @if (selectedOption==='libro') {
    <div class="card-container">
        <div class="card">
            <img src="libros1.png" alt="Libro">
            <div class="card-content">
                <p><strong>ISBN:</strong> 978-3-16-148410-0</p>
                <p><strong>Título:</strong> El Gran Libro</p>
                <p><strong>Editorial:</strong> Editorial Ejemplo</p>
                <p><strong>Género:</strong> Ficción</p>
                <p><strong>Año:</strong> 2022</p>
                <p><strong>Autor:</strong> Juan Pérez</p>
                <button class="edit-btn" (click)="showBookForm=true">Editar</button>
            </div>
        </div>
    </div>
    }
    @if (showBookForm) {
    <div class="overlay" id="overlay">
        <div class="form-container">
            <h2>Agregar Libro</h2>
            <form>
                <label for="isbn">ISBN:</label>
                <input type="text" id="isbn" placeholder="Ingrese ISBN">

                <label for="titulo">Título:</label>
                <input type="text" id="titulo" placeholder="Ingrese título">

                <label for="editorial">Editorial:</label>
                <input type="text" id="editorial" placeholder="Ingrese editorial">

                <label for="genero">Género:</label>
                <input type="text" id="genero" placeholder="Ingrese género">

                <label for="anio">Año:</label>
                <input type="number" id="anio" placeholder="Ingrese año">

                <label for="autor">Autor:</label>
                <input type="text" id="autor" placeholder="Ingrese autor">

                <button type="submit" class="submit-btn">Guardar</button>
                <button type="button" class="close-btn" (click)="showBookForm=false">Cancelar</button>
            </form>
        </div>
    </div>
    }

    @if (showAuthorForm) {
    <div class="overlay" id="overlay">
        <div class="form-container">
            <h2>Agregar Autor</h2>
            <form>
                <label for="cedula">Cédula:</label>
                <input type="text" id="cedula" placeholder="Ingrese cédula">

                <label for="nombre">Nombre Completo:</label>
                <input type="text" id="nombre" placeholder="Ingrese nombre completo">

                <label for="nacionalidad">Nacionalidad:</label>
                <input type="text" id="nacionalidad" placeholder="Ingrese nacionalidad">

                <button type="submit" class="submit-btn">Guardar</button>
                <button type="button" class="close-btn" (click)="showAuthorForm=false">Cancelar</button>
            </form>
        </div>
    </div>
    }

    @if (selectedOption==='autor') {
    <div class="card-container">
        <div class="card">
            <img src="user.png" alt="Autor">
            <div class="card-content">
                <p><strong>Cédula:</strong> 12345678</p>
                <p><strong>Nombre:</strong> Gabriel García Márquez</p>
                <p><strong>Nacionalidad:</strong> Colombiana</p>
                <button class="edit-btn" (click)="showAuthorForm=true">Editar</button>
            </div>
        </div>
    </div>
    }

</body>